*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,css{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height:100%;
    width: 100%;
    background:conic-gradient(rgba(149, 149, 206, 0.425),rgba(46, 147, 214, 0.308),rgba(50, 123, 206, 0.329),rgba(149, 149, 206, 0.425));
   
}
.card{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    margin: 12px;
    height: 350px;
    width: 250px;
    border-radius: 10px;
    background-color: rgba(252, 252, 252, 0.356);
    box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.24);
    
}
.card img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}
.card p{
    margin-left: 20px;
    font-size: 15px;
}
.card:hover{
    box-shadow: 8px 8px 25px rgba(107, 107, 224, 0.384);
   transition:1s;
   border: 1px solid rgba(0, 0, 0, 0.438) ;

}
.card button{
    color: White;
    background-color: brown;
    border:2px solid brown;
    padding: 10px 20px;
    border-radius: 50px;
}
.card button:hover{
    color:brown;
    background-color:transparent;
    border:2px solid brown;
    cursor:pointer;
    transition:2s;
}